@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
    --gray: #2B303A;
    --darkgray: #232830;
    --white: #EEE5E9;
    --lightblue: #92DCE5;
    --lightred: #D64933;
}

html {
    margin: 0;

    background-color: black;
    color: white;

    font-size: 16px;
}

body {
    margin: 0;
}

#container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    width: 100vw;
    height: 100vh;

    background: url("../img/andrew-ly-KZ0SZ2fEd20-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* #container-main:before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: url("../img/andrew-ly-KZ0SZ2fEd20-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
*/